<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="nav-container">
        <h1><a href="/">Movie Recommender</a></h1>
        <nav>
            {% if current_user.is_authenticated %}
                <span>Welcome, {{ current_user.username }}!</span>
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {% endif %}
        </nav>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>
